<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Functions</title>
        <body>
            <h1>pipelining</h1>
            {{.}}
            <br>
            {{ . | fdbl }}
            <br>
            {{ . | fdbl | fsq }}
            <br>
            {{ . | fdbl | fsq | fsqrt }}
        </body>
    </head>
</html>