<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Functions</title>
        <body>
            <h1>time Formatting</h1>
            Without time formatting: {{.}}
            <br>
            With time formatting (M-D-Y): {{fdateMDY .}}

            <br>
            With time formatting (D-M-Y): {{fdateDMY .}}
        </body>
    </head>
</html>