<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Functions</title>
        <body>
            <h1>Using functions to manipulate the data before</h1>
            <ul>
                {{range .Wisdom}}
                    {{$x:= .Name}}
                    {{$y:= .Motto}}
                    <li> {{uc $x}} - {{$y}} </li>
                {{end}}
            </ul>

            <ul>
                {{range .Transport}}
                    {{$manufacturer := .Manufacturer}}
                    {{$model := .Model}}
                    {{$doors := .Doors}}
                    <li>{{$manufacturer}} , {{ft $model}}, {{$doors}} </li>
                {{end}}
            </ul>
        </body>
    </head>
</html>