<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go template 1</title>
        <body>
            <h1>Iterating over a struct</h1>
            <ul>
                <li>{{.Name}} - {{.Motto}} </li>
            </ul>
        </body>
    </head>
</html>